.navbar-brand img{
    height: auto;
    max-width: 100%;
    width: 75%;
}




/*.dropdown button:hover {
    border:none;
}*/

.dropdown .dropdown-menu {
    border:0;
}

.dropdown .dropdown-menu li {
    border-bottom:1px solid #ddd;
}

.dropdown .dropdown-menu li:last-child {
    border-bottom:none;
}

.dropdown:hover .dropdown-menu {

    margin-top: 0;
 }

.dropdown-item:focus, .dropdown-item:hover {
    color: #EE6F1B;
    background-color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #EE6F1B;
    background-color: #fff;
}

.dropdown .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    
    border: none;
}



@media only screen and (max-width: 768px) {

    .navbar-brand img{
        height: 4vh;
    }
}

@media only screen and (max-width: 600px){

    .navbar-brand img{

        height: 4vh;
    }

    

}